@use "sass:map";
@use "../base/base";

@media only screen and (max-width: 750px) {
   //* Services Section
   .services {
      &__card {
         &--static,
         &--react {
            .card-image {
               img {
                  height: 15rem !important;
               }
            }
         }
      }
   }
}

@media only screen and (max-width: 600px) {
   //* Home Section
   .home {
      height: 65vh;
   }

   //* About Section
   .about {
      padding-top: 0;
   }

   //* Services Section
   .services {
      &__card {
         display: flex;
         flex-direction: column;
         align-items: center;
         &--static,
         &--react {
            margin: 0 0 2rem 0 !important;
            width: 25rem !important;
         }
      }
   }

   //* Footer Section
   .footer {
      height: 3rem;
      &__row {
         &--social-links {
            margin: 0.7rem 0 0 0;
            > * {
               font-size: 1.7rem;
               margin: 0 0.6rem;
            }
         }
         &--copyright {
            color: base.$color_rgb_120;
         }
      }
   }
}

@media only screen and (max-width: 500px) {
   //* Works Section
   .works {
      $carousel-width: map.get(base.$carousel-widths, "max_500px");
      $carousel-height: map.get(base.$carousel-heights, "max_500px");

      &__carousel {
         margin: -4rem 0 -3rem 0 !important;
         .carousel-item {
            height: $carousel-height  !important;
            &--img {
               width: $carousel-width  !important;
            }
            &--title {
               width: $carousel-width;
            }
            &:hover > .carousel-item--title {
               height: 35px;
            }
         }
         .indicators {
            bottom: 3rem !important;
         }
      }
   }
}

@media screen and (max-width: 450px) {
   //* Services Section
   .services {
      &__card {
         &--static,
         &--react {
            width: 85% !important;
         }
      }
   }

   //* Footer Section
   .footer {
      &__row {
         &--copyright {
            font-size: 0.9rem;
         }
      }
   }
}

@media screen and (max-width: 350px) {
   //* Services Section
   .services {
      &__card {
         &--static,
         &--react {
            .card-image {
               img {
                  height: 15rem !important;
               }
            }
         }
      }
   }

   //* Works Section
   .works {
      $carousel-width: map.get(base.$carousel-widths, "max_350px");
      $carousel-height: map.get(base.$carousel-heights, "max_350px");

      &__carousel {
         .carousel-item {
            height: $carousel-height  !important;
            &--img {
               width: $carousel-width  !important;
            }
            &--title {
               width: $carousel-width;
            }
         }
         .indicators {
            bottom: 5rem !important;
         }
      }
   }
}

@media screen and (max-width: 350px) and (min-width: 300px) {
   //* Sidebar Section
   .sidebar {
      $sideNav-out-w: base.sideNav-out-width("350px-300px");
      $sideNav-in-w: base.sideNav-in-width("350px-300px");

      .sidenav {
         width: $sideNav-out-w;
         background: linear-gradient(to right,
               base.$sideNav-bg-color 0%,
               base.$sideNav-bg-color $sideNav-in-w,
               transparent 80%,
               transparent 100%);
         .side-nav {
            width: $sideNav-in-w;
         }
      }
   }
}

@media screen and (max-width: 300px) {
   //* Sidebar Section
   .sidebar {
      $sideNav-out-w: base.sideNav-out-width("300px-0px");
      $sideNav-in-w: base.sideNav-in-width("300px-0px");

      .sidenav {
         width: $sideNav-out-w;
         background: linear-gradient(to right,
               base.$sideNav-bg-color 0%,
               base.$sideNav-bg-color $sideNav-in-w,
               transparent 80%,
               transparent 100%);
         .side-nav {
            width: $sideNav-in-w;
         }
      }
   }
}